@model EcoPacking.Web.ViewModels.Products.ProductsListViewModel

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="@product.ImageUrl">
                    <ul class="product__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6><a asp-action="ById" asp-route-id="@product.Id">@product.Name</a></h6>
                    <h5>@product.Price</h5>
                </div>
            </div>
        </div>
    }
</div>

<partial name="_PagingPartial" model="@Model" />